@keyframes slide{
  0% {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 10% 100%);
  }
  100%{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
