/* EASING */

$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-quad-reverse: cubic-bezier(0.6, 0.03, 0.6, 0.755);
$ease-reverse: cubic-bezier(0.3, 0.13, 0.35, 1);
