/* ACTA */

@include font-face('Acta', 'Light');
@include font-face('Acta', 'Medium');
@include font-face('Acta', 'Book');

@mixin actaLight($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Acta-Light";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin actaMedium($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Acta-Medium";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin actaBook($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Acta-Book";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

/* ACTA-DISPLAY */

@include font-face('Acta-Display', 'Regular');
@include font-face('Acta-Display', 'Medium');
@include font-face('Acta-Display', 'Light');

@mixin actaDisplayMedium($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Acta-Display-Medium";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin actaDisplay($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Acta-Display-Regular";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin actaDisplayLight($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Acta-Display-Light";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

/* SOFIA */

@include font-face('Sofia', 'Pro-Light');
@include font-face('Sofia', 'Pro-Medium');
@include font-face('Sofia', 'Pro-Bold');

@mixin sofiaProLight($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Sofia-Pro-Light";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin sofiaProMedium($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Sofia-Pro-Medium";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin sofiaProBold($size: 0.875vw, $lineHeight: normal, $letterSpacing: 0) {
  font-family: "Sofia-Pro-Bold";
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
