* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#__nuxt, #__layout, #app {
  width: 100%;
  height: 100%;
}

.page {
  padding: 0 8vw;
  margin: auto;

  &:not(.serie) {
    padding-top: 3.125vw;
  }
}
