* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  color: #121212;

  ::selection {
    background: #121212; /* WebKit/Blink Browsers */
    color: white;
  }
  ::-moz-selection {
    background: #121212; /* Gecko Browsers */
    color: white;
  }
}

body {
  line-height: 1;
  background-color: #FCF9F5;

  @include max(md) {
    position: relative;
  }

	&.no-links {
		#app {
			* {
				pointer-events: none;
			}
		}
	}

	&.lock {
		.drag-cursor {
			opacity: 0;
		}
	}

	&[data-background="white"] {
		transition: background-color 500ms ease;
    background-color: #FCF9F5;;
  }

  &[data-background="dark"] {
		transition: background-color 500ms ease;
    background-color: #121212;
  }
}


#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll-content {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  &.safari {
    position: relative;
  }

  @include max(md) {
    height: 100% !important;
    position: relative;
  }
}

.page {
  margin: auto;

  &.serie {
    padding:0 8vw;

    @include max(md) {
      padding: 14.323vw 6.5vw 0;
    }

    @include max(sm) {
      padding: 29.333vw 0 0;
    }
  }


  &:not(.serie) {
    padding:10.313vw 8vw 0;

    @include max(md) {
      padding: 14.323vw 0 0;
    }
    @include max(sm) {
      padding: 29.333vw 0 0;
    }
  }
}
