* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  @include min(md) {
    overflow: hidden;
  }
}

#__nuxt, #__layout, #smooth-component, #app {
  width: 100%;
  height: 100%;

  @include min(md) {
    overflow: hidden;
  }
}

#app {
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
  &.before-leave {
    transform: translate3d(0, -200px, 0);
    opacity: 0;
  }
  &.before-enter {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.page {
  margin: auto;

  &.serie {
    padding:0 8vw;

    @include max(md) {
      padding: 14.323vw 6.5vw 0;
    }

    @include max(sm) {
      padding: 29.333vw 0 0;
    }
  }


  &:not(.serie) {
    padding:10.313vw 8vw 0;

    @include max(md) {
      padding: 14.323vw 0 0;
    }
    @include max(sm) {
      padding: 29.333vw 0 0;
    }
  }
}



img[lazy="loading"] {
  opacity: 0;
  transition: opacity 500ms ease;
}

img[lazy="loaded"] {
  transition: opacity 500ms ease;
  opacity: 1;
}