@mixin font-face($font, $family) {
  $name : '#{$font}-#{$family}';

  @font-face {
    font-family: $name;
    src:
      url('~assets/fonts/#{$font}/#{$name}/#{$name}.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/#{$font}/#{$name}/#{$name}.otf') format('opentype'),
      url('~assets/fonts/#{$font}/#{$name}/#{$name}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin min ($b1) {
  @media (min-width: #{map-get($breakpoints, $b1)}) {
    @content;
  }
}

@mixin max ($b1) {
  @media (max-width: #{map-get($breakpoints, $b1)}) {
    @content;
  }
}

@mixin between ($b1, $b2) {
  @media (min-width: #{map-get($breakpoints, $b1)}) and (max-width: #{map-get($breakpoints, $b2)}) {
    @content;
  }
}

@mixin verticalText($deg){
  text-align: right;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate($deg+deg);
}
