.big-slider {
  width: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: translate3d(-8vw, 0, 0);

  .slide {
    height: 100%;
    width: calc(100% + 1.25vw);
    position: absolute;
    transform: skew(0, 0);
    margin-left: auto;
    right: -1.25vw;
    z-index: 1;
    transition: width 1s $ease-in-out-quart 1s;

    &.active {
      z-index: 2;
    }


    &.sliding {
      width: 0;
      .image {
        animation: slide 1s $ease-in-out-quart forwards;
      }
    }

    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
  }
}
