.big-slider {
  width: 35%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .slide {
    height: 100%;
    width: calc(100% + 20px);
    position: absolute;
    transform: skew(0, 0);
    margin-left: auto;
    right: -20px;
    z-index: 1;

    &.active {
      z-index: 2;
    }


    &.sliding {
      animation: slide 1s $ease-in-out-quart forwards;
    }

    .image {
      height: 100%;
      width: 100%;
      background-size:auto 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }
}
