.drag-cursor {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
  transition: opacity 200ms ease;
  opacity: 0;
  transform: translate3d(50vw, 50vh, 0);

  @include max(md) {
    display: none;
    visibility: hidden;
  }

  .arrows {
    position: absolute;
    width: 60%;
    display: flex;
    justify-content: space-between;

    svg {
      width: 0.75vw;
      max-width: 40px;
      position: relative;
      transition: transform 500ms $ease-in-out-quad;

      g {
        transition: fill 500ms ease;
        fill: #FCF9F5;
      }
    }
  }

  .left {
    transform: rotate(90deg);
  }

  .circle {
    width: 4vw;
    height: 4vw;
    max-width: 90px;
    max-height: 90px;
    border-radius: 20vw;
    border: 2px solid #FCF9F5;
    background: transparent;
    margin: 0 0.2vw;
    transition: transform 500ms $ease-in-out-quad, border 500ms ease;
  }

  .right {
    transform: rotate(-90deg);
  }

  &.visible {
    opacity: 1;
  }

  &.focus {
    z-index: 1;
    .arrows {
      .left {
        transform: translate3d(-10px, 0, 0) rotate(90deg);
      }
      .right {
        transform: translate3d(10px, 0, 0) rotate(-90deg);
      }
    }
    .circle{
      transform: scale(0.5)
    }
  }

  &.homepage {
    .circle {
      border: 2px solid#121212;
    }

    .arrows {
      transform: rotate(90deg) translate3d(0, 1px, 0);
      svg g{
        fill: #121212;
      }
    }

    &.focus {
      .arrows {
        svg g {
          fill: #FCF9F5;
        }
      }
      .circle {
        border: 2px solid#FCF9F5;
      }
    }
  }
}