footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 8vw;
  margin: auto;
  text-transform: uppercase;
  position: relative;

  .dark & {
    background: #121212;
    color:white;
    border-top: 0.0625vw solid black;
  }

  a {
    text-decoration: underline;
  }

  .credits {
    width: 100%;
    text-align: center;

    @include sofiaProMedium(0.625vw);
    letter-spacing: 0.125vw;
    line-height: 1.875vw;
  }
}
