footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 8vw;
  margin: auto;
  text-transform: uppercase;
  position: relative;

  @include max(sm) {
    padding: 4vh 9.133vw;
  }

  .dark & {
    background: #121212;
    color:white;
    border-top: 0.0625vw solid black;
  }

  a {
    text-decoration: underline;
  }

  .credits {
    width: 100%;
    text-align: center;

    @include sofiaProMedium(0.625vw);
    letter-spacing: 0.125vw;
    line-height: 1.875vw;

    @include max(md) {
      font-size: 2.083vw;
      line-height: 3.906vw;
    }

    @include max(sm) {
      font-size: 3vw;
      line-height: 6vw;
    }
  }
}
