footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EFECE8;
  padding: 4vh 8vw;
  text-transform: uppercase;
  position: relative;

  @include sofiaProMedium(10px);
  letter-spacing: 2px;
  line-height: 30px;

  @include max(lg) {
    padding: 4vh 4vw;
  }

  .dark & {
    background: #121212;
    color:white;
    border-top: 1px solid black;
  }

  a {
    text-decoration: underline;
  }

  ul{
    display: flex;
    justify-content: space-between;
  }

  .socials ul {
    justify-content: flex-start;

    li:not(:first-child) {
      margin-left: 1vw;
    }
  }

  .socials,
  .credits {
    flex-basis: 37.5vw;
  }

  .copyrights {
    flex-basis: 25vw;
    @include sofiaProLight(10px);
    letter-spacing: 2px;
    text-align: right;
  }
}
