.page-introduction {
  display: flex;
  justify-content: space-between;
  height: calc(90vh - 4.5vw);

  @include max(md) {
    height: auto;
    flex-direction: column-reverse;
  }

  .home-slider-wrapper {
    @include min(lg) {
      height: 100%;
    }

    .slide {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      &.behind {
        z-index: 1;
      }

      &.active {
        z-index: 2;
      }

      &.sliding-next {
        animation: slide-next 1100ms $ease-in-out-quart;
      }
      &.sliding-prev {
        animation: slide-prev 1100ms $ease-in-out-quart;
      }
    }
  }

  .right-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(60% - 2vw);

    @include max(md) {
      width: 100%;
    }

    .serie-infos {
      flex-direction: column;
      max-width: 45vw;

      &.transitioning {
        max-width: none;
      }

      @include max(md) {
        margin-top: 15.625vw;
        max-width: none;
        padding: 0 6.510vw;
      }

      @include max(md) {
        margin-top: 22.5vw;
        padding: 0 9.333vw;
      }

      .title {
        @include actaDisplayLight(5.625vw);

        @include max(md) {
          font-size: 10.417vw;
        }

        @include max(sm) {
          font-size: 13.333vw;
        }

        h3{
          line-height: 6.250vw;

          @include max(md) {
            line-height: 11.719vw;
          }

          @include max(sm) {
            line-height: 16vw;
          }
        }
      }

      .date {
        @include sofiaProMedium(0.875vw);
        margin-top: 0.9375vw;
        letter-spacing: 0.125vw !important;
        line-height: 1.875vw;

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.906vw;
        }

        @include max(sm) {
          font-size: 3.733vw;
          line-height: 8vw;
        }

        .copyright {
          @include sofiaProBold(1.25vw);
          position: relative;
          top: 0.125vw;
          padding-right: 0.625vw;

          @include max(md) {
            font-size: 2.604vw;
          }

          @include max(sm) {
            font-size: 5.333vw;
          }
        }
      }
    }

    .chevron {
      cursor: pointer;
      transform: translate3d(0, -2.125vw, 0);

      @include max(md) {
        display: none;
      }

      img {
        width: 0.875vw;
      }
    }

    .update-status {
      display:flex;
      align-items: center;
      position: absolute;
      bottom: 2.125vw;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      @include max(md) {
        display: none;
      }

      .line {
        height: 4.0625vw;
        background: black;
        width: 0.0625vw;
        margin-bottom: 1.4375vw;
      }

      span {
        @include sofiaProLight(0.75vw);
        letter-spacing: 0.125vw;
        line-height: 0.875vw;
        text-transform: uppercase;
      }
    }
  }
}
