.page-introduction {
  display: flex;
  justify-content: space-between;
  padding-right: 8vw;
  height: 80vh;

  @include min(xxl) {
    height: 82vh;
  }

  .home-slider-wrapper {
    height: 100%;
  }

  .right-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(65% - 140px);

    .serie-infos {
      flex-direction: column;
      max-width: 550px;

      .title {
        @include actaDisplayLight(70px);

        h3{
          line-height: 80px;
        }
      }

      .date {
        @include sofiaProMedium(14px);
        margin-top:15px;
        letter-spacing: 2px;
        line-height: 30px;

        .copyright {
          @include sofiaProBold(20px);
          position: relative;
          top: 2px;
          padding-right: 10px;
        }
      }
    }

    .chevron {
      transform: translate3d(0, -50px, 0)
    }

    .update-status {
      display:flex;
      align-items: center;
      position: absolute;
      bottom: 50px;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      .line {
        height: 65px;
        background: black;
        width: 1px;
        margin-bottom: 23px;
      }

      span {
        @include sofiaProLight(12px);
        letter-spacing: 2px;
        line-height: 14px;
        text-transform: uppercase;
      }
    }
  }
}
