.page-introduction {
  display: flex;
  justify-content: space-between;
  padding-right: 8vw;
  height: 80vh;

  .featured-images {
    width: 35%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .slide {
      height: 100%;
      width: calc(100% + 20px);
      position: absolute;
      transform: skew(0, 0);
      margin-left: auto;
      right: -20px;
      z-index: 1;

      &.active {
        z-index: 2;
      }


      &.sliding {
        animation: slide 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }

      .image {
        height: 100%;
        width: 100%;
        background-size:cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }
    }
  }

  .right-col {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(65% - 140px);
    justify-content: space-between;

    .serie-infos {
      margin-top:123px;
      flex-direction: column;

      .title {
        @include actaDisplay(90px);

        h3{
          line-height: 100px;
        }
      }

      .date {
        @include sofiaProMedium(14px);
        margin-top:15px;
        letter-spacing: 2px;
        line-height: 30px;
      }
    }

    .chevron {
      justify-self: flex-end;
    }

    .update-status {
      display:flex;
      align-items: center;
      position: fixed;
      right: 8vw;
      top: 63vh;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      .line {
        height: 65px;
        background: black;
        width: 1px;
        margin-bottom: 23px;
      }

      span {
        @include sofiaProLight(12px);
        letter-spacing: 2px;
        line-height: 14px;
        text-transform: uppercase;
      }
    }

    .home-slider {
      height: 25%;
      position: relative;

      .slide {
        height: 100%;
        width: calc(100% + 20px);
        position: absolute;
        transform: skew(0, 0);
        margin-left: auto;
        right: -20px;
        z-index: 1;

        &.active {
          z-index: 2;
        }


        &.sliding {
          animation: slide 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.2s;
        }

        .image {
          height: 100%;
          width: 100%;
          background-size:cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
        }
      }
    }
    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;

      @include sofiaProMedium(14px);
      letter-spacing: 2px;
      text-transform: uppercase;


      .left img {
        top:2px;
        position: relative;
        margin-right: 20px;
      }

      .right img {
        top:2px;
        position: relative;
        margin-left: 20px;
        transform: rotate(180deg);
      }
    }
  }
}

@keyframes slide{
  0% {
    transform: skew(0);
  }
  25% {
    transform: skew(3deg);
  }
  100%{
    width:0%;
    transform: skew(0);
  }
}
