.gallery-wrapper {
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 12.5vw;

  @include max(md) {
    padding-top: 0;
  }


  &.only-first {
    .gallery-item-wrapper:not(:first-child) {
      @include max(md) {
        display: none;
      }
    }
  }

  & > * {
    user-select: none;
  }

  &.no-events > * {
    pointer-events: none;
  }

  .gallery-item-wrapper {
    transform: translate3d(-12.5vw, 0, 0);
    transition: transform 500ms $ease-in-out-quad, height 500ms $ease-in-out-quad;

    @include max(md) {
      transform: translate3d(-7.8vw,0,0);
    }

    @include max(sm) {
      transform: translate3d(0,0,0);
    }

    &:not(:first-child) {
      margin-top: 9.375vw;

      @include max(md) {
        margin-top: 13.021vw;
      }

      @include max(sm) {
        margin-top: 20vw;
      }
    }

    &:nth-child(even) {
      transform: translate3d(12.5vw,0,0);

      @include max(md) {
        transform: translate3d(3.25vw,0,0);
      }

      @include max(sm) {
        transform: translate3d(0,0,0);
      }
    }

    &.full {
      transform: translate3d(0, 0, 0);
      width: 100%;
      height: 54vw;

      .full-mask {
        z-index: 9;
        position: absolute;
        top: -1px;
        width: calc(100% - 50.85vw);
        height: 100%;
        transform: scale3d(0, 1, 1);
        opacity: 1;
        background-color: #FCF9F5;
        transition: transform 500ms $ease-in-out-quad, background-color 500ms ease;

        @include max(md) {
          display: none;
        }

        @include min(xxl) {
          width: calc(100% - 51.2vw);
        }

        &.left {
          transform-origin: left;
          left: -8vw;
        }
        &.right {
          transform-origin: right;
          right: -8vw;
        }
      }

      @include max(md) {
        height: auto;
        margin-top: 26.042vw;
        margin-bottom: 13.021vw;
      }
    }

    &:last-child {
      @include max(md) {
        margin-bottom: 0;
      }
    }
  }

  .gallery-item {
    width: 100%;
    position: relative;
    margin: auto;

    &:hover {
      @include min(md) {
        .gallery-item-content {
          transform: scale3d(0.95, 0.95, 1);

          img {
            transform: scale3d(1.15, 1.15, 1)
          }
        }
      }
    }

    .gallery-item-content {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 500ms $ease-in-out-quad;
    }

    a {
      user-select: none;
      display: block;
      overflow: hidden;
      height: 100%;
      text-decoration: none;
      transform: scale3d(1, 1, 1);
      transition: transform 500ms $ease-in-out-quad;
      cursor: pointer;

      &::before {
        content: '';
        z-index: -1;
        background: #FCF9F5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.portrait {
      max-width: 35vw;
      height: 43.75vw;

      @include max(md) {
        max-width: 64.063vw;
        height: auto;
      }

      @include max(sm) {
        max-width: 100%;
        width: calc(100% - 18.667vw);
        height: auto;
      }

      img {
        @include max(md) {
          max-height: 79.818vw;
        }
        @include max(sm) {
          max-height: 101.333vw;
        }
      }
    }

    &.landscape {
      width: 35vw;
      height: 26.250vw;
      transition: height 500ms $ease-in-out-quad;

      @include max(md) {
        width: 64.063vw;
        height: auto;
      }

      @include max(sm) {
        max-width: 100%;
        width: calc(100% - 18.667vw);
      }

      .item-title {
        bottom: 0.2875vw;
      }
    }

    &.full {
      transform: translate3d(0,0,0);
      height: 100%;

      a {
        height: auto;
      }

      img {
        max-height: 50vw;

        @include max(md) {
          max-height: 82.031vw;
        }
      }

      .item-title {
        position: relative;
        right: 0;
        writing-mode: initial;
        text-orientation: initial;
        transform: rotate(0deg);
        justify-content: center;
        align-items: flex-end;
        margin-top: 2.125vw;

        @include max(md) {
          margin-top: 4vw;
        }

        @include max(sm) {
          align-items: flex-start;
          margin-top: 7vw;
          margin-left: 9.333vw;
        }

        span {
          margin-top: 0;
          margin-left: 1.25vw;

          @include max(sm) {
            align-items: flex-start;
            margin-top: 4.25vw;
            margin-left: 0;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      opacity: 1;
      object-fit: cover;
      object-position: center;
      transition: opacity 500ms ease, transform 500ms $ease-in-out-quad;
      transform: scale3d(1, 1, 1);
      user-select: none;
      pointer-events: none;

      &.active-link {
        opacity: 0.75;
        cursor: wait;
      }
    }

    .item-title {
      @include verticalText(180);
      display: flex;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
      text-transform: uppercase;
      right: -2.25vw;
      line-height: 1.875vw;
      z-index: 3;
      opacity: 1;
      transition: opacity 500ms ease;

      [data-background='dark'] & {
        opacity: 0;
      }

      @include min(xxl) {
        right: -2.5vw;
      }

      @include max(md) {
        line-height: 3.906vw;
        position: relative;
        right: 0;
        writing-mode: initial;
        text-orientation: initial;
        transform: rotate(0deg);
        flex-direction: row;
        align-items: flex-start;
        margin-top: 3.5vw;
      }

      @include max(sm) {
        margin-top: 7vw;
        flex-direction: column;
      }

      h3 {
        @include sofiaProMedium(0.875vw);
        letter-spacing: 0.125vw;

        @include max(md) {
          font-size: 2.083vw;
        }

        @include max(sm) {
          font-size: 3.733vw;
        }
      }

      span {
        @include sofiaProLight(0.875vw);
        display: block;
        margin-top: 1.25vw;
        letter-spacing: 0.125vw;

        @include max(md) {
          font-size: 2.083vw;
          margin-top: 0;
          margin-left: 2.604vw;
        }

        @include max(sm) {
          margin-top: 4.25vw;
          font-size: 3.733vw;
          margin-left: 0;
        }
      }
    }
  }

  &.drag {
    .gallery-item-wrapper {
      transform: translate3d(0, 0, 0);

      &.full, .landscape {
        height: 43.75vw;
      }

      .full-mask {
        opacity: 1;
        transform: scale3d(1, 1.5, 1);
        background-color: #121212;
      }

      .gallery-item {
        img {
          transform: scale3d(1.2, 1.2, 1)
        }
      }
    }
  }
}