.image-mask {
  background-color: #FCF9F5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  transform-origin: top;
  transition: height 1000ms $ease-in-out-quart;

  .loaded & {
    height: 0;
  }
}

.gallery-mask {
  position: absolute;
  background-color: #FCF9F5;
  top: 0;
  width: 10%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  display: block;
  z-index: 2;
  transform: translate3d(0,0,0);
  transition: transform 1000ms ease;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.revealed {
    &.left {
      transform: translate3d(-100%, 0, 0)
    }
    &.right {
      transform: translate3d(100%, 0, 0)
    }
  }
}