.image-mask {
  background-color: #FCF9F5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 150%;
  display: block;
  z-index: 2;
  transition: height 1000ms $ease-in-out-quad;

  .loaded & {
    height: 0
  }
}

.gallery-mask {
  position: absolute;
  background-color: #FCF9F5;
  top: 0;
  width: 10%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  display: block;
  z-index: 2;
  transform: translate3d(0,0,0);
  transition: transform 1000ms ease 200ms;

  @include max(md) {
    display: none;
  }

  &.left {
    left: -1px;
  }

  &.right {
    right: -1px;
  }

  &.up-enter, &.down-enter {
    &.left {
      transform: translate3d(-100%, 0, 0)
    }
    &.right {
      transform: translate3d(100%, 0, 0)
    }
  }
}