.nav {
  padding: 8vh 8vw;

  ul {
    display:flex;
    justify-content: space-between;
    align-items: center;

    li {
      @include sofiaProMedium(14px);
      letter-spacing: 2px;
      line-height: 30px;
      text-transform: uppercase;
    }
  }
}
