.nav {
  padding: 8vh 8vw;
  max-width: $grid-width;
  margin: auto;

  .dark & {
    background: #121212;
    color:white;
  }

  ul {
    display:flex;
    justify-content: space-between;
    align-items: center;

    li {
      @include sofiaProMedium(0.875vw);
      letter-spacing: 0.125vw;
      line-height: 1.875vw;
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }
  }
}
