.nav {
  padding: 5vh 8vw;
  margin: auto;

  &.serie-page{
    position: absolute;
    width: 100%;
    z-index: 2;

    ul {
      width:100%;
      li:first-child {
        color:white;
      }
    }
  }

  .dark & {
    background: #121212;
    color:white;
  }

  ul {
    display:flex;
    justify-content: space-between;
    align-items: center;

    li {
      @include sofiaProMedium(0.875vw);
      letter-spacing: 0.125vw;
      line-height: 1.875vw;
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }
  }
}
