.serie-slider-cursor {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
  transition: opacity 200ms ease;
  opacity: 0;

  @include max(md) {
    display: none;
    visibility: hidden;
  }

  img {
    width: 0.75vw
  }


  .arrows {
    position: absolute;
    width: 65%;
    display: flex;
    justify-content: space-between;
    transition: width 500ms $ease-in-out-quad;
  }

  .left {
    transform: rotate(90deg);
  }

  .circle {
    width: 3vw;
    height: 3vw;
    border-radius: 20vw;
    border: 2px solid #FCF9F5;
    background: transparent;
    margin: 0 0.2vw;
    transition: transform 800ms $ease-in-out-quart;
  }

  .right {
    transform: rotate(-90deg);
  }

  &.visible {
    opacity: 1;
  }

  &.focus {
    .arrows {
      width: 110%;
    }
    .circle{
      transform: scale(0.5)
    }
  }
}