.serie-slider-wrapper {
  background: #FCF9F5;
  padding-top: 11.875vw;
  position: relative;
  overflow: hidden;
  cursor: none;
  transition: background-color 1000ms ease;

  * {
    user-select: none;
  }

  @include max(md) {
    padding-top: 26.042vw;
  }

  @include max(sm) {
    padding-top: 25vw;
  }

  .line {
    position: absolute;
    display: inline-block;
    left:0;
    top: 0;
    right: 0;
    margin: auto;
    height: calc(100% - 12.188vw);
    width: 1px;
    border-left: 1px solid white;
    opacity: 0.1;

    @include max(md) {
      height: calc(100% - 24.740vw);
      border-left: 1px solid white;
    }
  }

  .serie-slider-title {
    @include actaDisplayLight(5.625vw);
    line-height: 6.250vw;
    text-align: center;
    color:white;

    @include max(md) {
      font-size: 10.417vw;
      line-height: 11.719vw;
    }

    @include max(sm) {
      font-size: 13.333vw;
      line-height: 16vw;
    }
  }

  .serie-slider {
    position: relative;
    display: inline-flex;
    margin-bottom: 8.125vw;
    top: -2.25vw;
    transition: left 1000ms $ease-in-out-quad;
    left: 100vw;

    @include max(md) {
      margin-top: 3.25vw;
      margin-bottom: 27.995vw;
      margin-left: 28vw;
    }

    @include max(sm) {
      margin-top: 16vw;
      margin-left: 9.333vw;
    }

    .slider-item {
      width: 20vw;
      height: 25vw;
      opacity: 0;
      transition: opacity 500ms ease, transform 500ms $ease-in-out-quad;

      @include max(md) {
        width: 41.406vw;
        height: 51.563vw;
      }

      @include max(sm) {
        width: 60vw;
        height: 74.667vw;
      }

      &:not(:first-child){
        transform: translate3d(32vw, 0, 0);
      }

      &:first-child {
        .serie-gallery-mask.left {
          display: none;
        }
      }

      &:last-child {
        .serie-gallery-mask.right {
          display: none;
        }
      }

      a {
        height: 100%;
        position: absolute;
        overflow: hidden;
        pointer-events: none;
      }

      img{
        width: 115%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        pointer-events: none;
        transition: transform 800ms ease-in-out;
      }
    }
  }

  .slider-controls {
    padding: 0 8vw 5vw;
    opacity: 0;
    transition: opacity 500ms ease 800ms;

    .upper {
      display: flex;
      justify-content: space-between;
      color: white;

      @include max(md) {
        width: 100%;
      }

      .titles {
        width: 20vw;
        margin: auto;
        overflow: hidden;
        color: white;
        position: relative;

        &:before {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 9;
          background: linear-gradient(to left, #121212, transparent 30%),
          linear-gradient(to right, #121212, transparent 30%);
        }

        @include max(md) {
          width: 41.406vw;
        }

        @include max(sm) {
          width: 60vw;
        }
      }

      .titles-wrapper {
        display: inline-flex;

        @include sofiaProBold(0.875vw);
        letter-spacing: 0.125vw;
        line-height: 1.313vw;
        text-transform: uppercase;

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          font-size: 4.267vw;
          line-height: 6.4vw;
        }

        div {
          width: 20vw;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 0 0 1.25vw;
          opacity: 1;
          transition: opacity 500ms ease;

          @include max(md) {
            width: 41.406vw;
          }

          @include max(sm) {
            width: 60vw;
          }
        }

        &.drag {
          div {
            opacity: 0.3;
          }
        }
      }

      .play {
        transform: rotate(-90deg);

        @include max(sm) {
          display: none;
        }
      }

      .index {
        @include sofiaProMedium(0.875vw);
        line-height: 1.875vw;

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          display: none;
        }
      }
    }

    .bottom {
      height: 1px;
      background: #2A2A2A;
      margin-top: 1vw;

      @include max(md) {
        margin-top: 2.604vw;
      }

      @include max(sm) {
        margin-top: 6vw;
      }

      .progress {
        width: 0;
        height: 100%;
        background-color: #FCF9F5;
      }
    }
  }


  &.down-enter {
    background-color: #121212;

    .serie-slider {
      left: 40vw;

      @include max(md) {
        left: 23vw;
      }

      @include max(sm) {
        left: 0;
      }

      &.drag {
        .slider-item {
          .serie-gallery-mask {
            transform: scaleX(0);
          }
          a {
            pointer-events: none;
          }
        }
      }

      .slider-item {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      @include max(md) {
        margin-left: 3.906vw;
      }

      @include max(sm) {
        font-size: 4vw;
      }
    }

    .slider-controls {
      opacity: 1;
    }
  }
}