.serie-slider-wrapper {
  padding-top: 11.875vw;
  position: relative;
  overflow: hidden;

  * {
    user-select: none;

    .lock & {
      pointer-events: none;
    }
  }

  @include max(md) {
    padding-top: 26.042vw;
  }

  @include max(sm) {
    padding-top: 25vw;
  }

  .line {
    position: absolute;
    display: inline-block;
    left:0;
    top: 0;
    right: 0;
    margin: auto;
    height: calc(100% - 12.188vw);
    width: 1px;
    border-left: 1px solid white;
    opacity: 0.1;

    @include max(md) {
      height: calc(100% - 24.740vw);
      border-left: 1px solid white;
    }
  }

  .serie-slider-title {
    @include actaDisplayLight(5.625vw);
    line-height: 6.250vw;
    text-align: center;

    span {
      color:white;
    }

    @include max(md) {
      font-size: 10.417vw;
      line-height: 11.719vw;
    }

    @include max(sm) {
      font-size: 13.333vw;
      line-height: 16vw;
    }
  }

  .mobile-overflow {

    @include max(md) {
      padding-right: 54vw;
      padding-left: 0;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include max(sm) {
      padding-right: 20vw;
      padding-left: 10vw;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .serie-slider {
    position: relative;
    display: inline-flex;
    margin-bottom: 8.125vw;
    top: -2.25vw;
    transition: left 1000ms $ease-in-out-quad;
    left: 100vw;
    pointer-events: auto;

    &.no-events {
      pointer-events: none;
    }

    @include max(md) {
      margin-top: 3.25vw;
      margin-bottom: 27.995vw;
      margin-left: 28vw;
    }

    @include max(sm) {
      margin-top: 16vw;
      margin-left: 9.333vw;
    }

    .slider-item {
      width: 20vw;
      height: 25vw;
      opacity: 0;
      position: relative;
      cursor: pointer;
      transition: opacity 500ms ease, transform 500ms $ease-in-out-quad;

      @include max(md) {
        width: 41.406vw;
        height: 51.563vw;
      }

      @include max(sm) {
        width: 60vw;
        height: 74.667vw;
      }

      &:not(:first-child){
        transform: translate3d(32vw, 0, 0);
      }

      &:first-child {
        .serie-slider-mask.left {
          display: none;
        }
      }

      &:last-child {
        .serie-slider-mask.right {
          display: none;
        }
      }

      a {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 2;

        &::before {
          content: '';
          z-index: -1;
          background: #121212;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .placeholder {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #1A1A1A;
        opacity: 1;
        transition: opacity 800ms ease;
      }

      img{
        min-width: 130%;
        width: 130%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        pointer-events: none;
        transition: transform 500ms ease, opacity 500ms ease;

        &[lazy="loaded"] ~ .placeholder {
          opacity: 0;
        }

        &[lazy="loading"] {
          transform: scale(1.1)
        }

        &.active-link {
          opacity: 0.8;
          cursor: wait;
        }
      }

      .loading-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        background: white;
        width: 100%;
        transform: scale3d(0, 1, 1);
        transform-origin: left;
        transition: transform 500ms ease;
      }
    }
  }

  .slider-controls {
    padding: 0 8vw 5vw;
    opacity: 0;
    transition: opacity 500ms ease 800ms;

    &.drag {
      .upper .titles .blur {
        opacity: 1;
      }
    }

    .upper {
      display: flex;
      justify-content: space-between;
      color: white;

      @include max(sm) {
        width: 100%;
        padding-left: 10.01vw;
      }

      .titles {
        width: 20vw;
        margin: auto;
        overflow: hidden;
        color: white;
        position: relative;

        .blur {
          top: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 9;
          opacity: 0;
          background: linear-gradient(to left, #121212, transparent 30%),
          linear-gradient(to right, #121212, transparent 30%);
          background: -webkit-gradient(linear, right top, left top, from(#121212), color-stop(30%, rgba(18,18,18,0))),
          -webkit-gradient(linear, left top, right top, from(#121212), color-stop(30%, rgba(18,18,18,0)));
          transition: opacity 200ms ease;

          [data-background='dark'] & {
            @include max(md) {
              transition-delay: 500ms;
              opacity: 1;
            }
          }
        }

        @include max(md) {
          width: 41.406vw;
        }

        @include max(sm) {
          width: 100%;
        }
      }

      .titles-wrapper {
        display: inline-flex;

        @include sofiaProBold(0.833vw);
        letter-spacing: 0.125vw;
        line-height: 1.313vw;
        text-transform: uppercase;

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          font-size: 3.267vw;
          line-height: 5.4vw;
        }

        div {
          width: 20vw;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left: 1.25vw;
          opacity: 1;
          transition: opacity 500ms ease;
          color: white;

          @include max(md) {
            width: 41.406vw;
          }

          @include max(sm) {
            width: 60vw;
          }
        }
      }

      .copyright {

        span {
          @include sofiaProMedium(0.875vw);
          color: white;

          @include max(md) {
            font-size: 2.083vw;
            line-height: 3.125vw;
          }

          @include max(sm) {
            display: none;
          }
        }

        @include max(sm) {
          display: none;
        }
      }

      .index {
        @include sofiaProMedium(0.875vw);
        line-height: 1.875vw;

        span {
          color: white;
        }

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          display: none;
        }
      }
    }

    .bottom {
      height: 1px;
      background: #2A2A2A;
      margin-top: 1vw;

      @include max(md) {
        margin-top: 2.604vw;
      }

      @include max(sm) {
        margin-top: 6vw;
      }

      .progress {
        width: 100%;
        height: 100%;
        transform-origin: left;
        transform: scale3d(0, 1, 1);
        background-color: #FCF9F5;
      }
    }
  }


  &.down-enter {
    .serie-slider {
      left: 40vw;

      @include max(md) {
        left: 25vw;
      }

      @include max(sm) {
        left: 0;
      }

      &.drag {
        .slider-item {
          a {
            pointer-events: none;
          }
          .serie-slider-mask {
            transform: scale3d(0, 1, 1);
          }
        }
      }

      .slider-item {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      @include max(md) {
        margin-left: 3.906vw;
      }

      @include max(sm) {
        font-size: 4vw;
        margin-left: 9.333vw;
      }
    }

    .slider-controls {
      opacity: 1;
    }
  }
}
