.small-slider-wrapper {
  height: 20%;
  position: relative;

  .home-slider-wrapper {
    overflow: hidden;
    position: relative;
  }

  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: skew(0, 0);
    margin-left: auto;
    right: 0;
    z-index: 1;

    &.active {
      z-index: 2;
    }


    &.sliding {
      animation: slide 1s $ease-in-out-quart forwards 0.2s;
    }

    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }
}


.right-col {
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.75vh;

    @include sofiaProMedium(0.875vw);
    letter-spacing: 0.125vw;
    text-transform: uppercase;

    .left,
    .dots,
    .right {
      cursor: pointer;
    }

    .left img {
      top: 0.125vw;
      position: relative;
      margin-right: 1.25vw;
      width: 1.2vw;
    }

    .dots {
      width: 6.25vw;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          font-size: 1.2vw;
          line-height: 0.8vw;
          position: relative;
          padding: 0.2vw 0.2vw 0.2vw 0.3vw;

          &.active {
            border: 0.125vw solid black;
            border-radius: 6.25vw;
          }
        }
      }
    }

    .right img {
      top: 0.125vw;
      position: relative;
      margin-left: 1.25vw;
      transform: rotate(180deg);
      width: 1.2vw;
    }
  }
}
