.small-slider-wrapper {
  height: 17.5%;
  position: relative;

  @include max(md) {
    height: 15.625vw;
  }

  .home-slider-wrapper {
    overflow: hidden;
    position: relative;
  }

  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: skew(0, 0);
    margin-left: auto;
    right: 0;
    z-index: 1;

    &.active {
      z-index: 2;
    }


    &.sliding {
      animation: slide 1s $ease-in-out-quart forwards 0.2s;
    }

    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}


.right-col {
  .controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2.75vh;

    @include sofiaProMedium(0.875vw);
    letter-spacing: 0.125vw;
    text-transform: uppercase;

    @include max(md) {
      padding: 0 6.510vw;
      font-size: 2.083vw;
    }

    .left,
    .dots,
    .right {
      cursor: pointer;
    }

    .left img {
      top: 0.125vw;
      position: relative;
      margin-right: 1.25vw;
      width: 1.2vw;
    }

    .index {
      span {
        @include sofiaProMedium(0.875vw);

        @include max(md) {
          font-size: 2.083vw;
        }
      }
    }

    .right img {
      top: 0.125vw;
      position: relative;
      margin-left: 1.25vw;
      transform: rotate(180deg);
      width: 1.2vw;
    }
  }
}
