.transition-layer {
  display: none;
  position: absolute;
  top: 0;
  width:100%;
  height: 100vh;
  opacity: 1;
  z-index: 3;

  .image {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom:0;
    width: 100%;
    z-index: 9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
      transition: transform 500ms $ease-in-out-quad 100ms;

      &.hide {
        transform: translateY(-200px)
      }
    }

    &.animating {
      img {
        transform: scale(1);
      }
    }
  }
}