.page.about {
  background-color: #121212;

  @include max(md) {
    padding: 0;
  }

  .about-wrapper {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @include max(md) {
      flex-direction: column;
    }

    .about-image {
      max-height: 52.1875vw;
      width: 40%;
      position: relative;
      display: flex;
      transform: translate3d(-8vw, 0, 0);

      @include max(md) {
        width: 100%;
        transform: translate3d(0, 0, 0);
        max-height: none;
        height: 93.09vw;
      }

      @include max(sm) {
        height: 74.667vw;
      }

      img {
        opacity: 0.94;
        width:100%;
        height: 100%;
        object-fit: cover;
      }

      .about-quote {
        position: absolute;
        width: 40vw;
        left: calc(100% - 6.25vw);
        top: 8vw;

        @include max(md) {
          bottom: 0;
          left: 0;
          top: unset;
          right: 0;
          margin: auto;
          width: 58.59vw;
          transform: translate3d(0, 75%, 0);
        }

        @include max(sm) {
          width: 81.333vw;
        }

        h3 {
          @include actaDisplayLight(5.625vw);
          color: white;
          line-height: 6.25vw;

          @include max(md) {
            font-size: 10.41vw;
            line-height: 11.719vw;
          }

          @include max(sm) {
            font-size: 13.333vw;
            line-height: 16vw;
          }
        }
      }
    }

    .about-content {
      display: flex;
      color:white;
      width: calc(65% - 11.25vw);
      margin-top: 25.75vw;

      @include max(md) {
        width: 100%;
        padding: 0 6.510vw;
      }

      @include max(sm) {
        margin-top: 44.5vw;
        padding: 0 9.333vw;
      }

      .about-issue{
        position:absolute;
        top: 0;
        right: 0;

        @include max(md) {
          display: none;
        }

        .circle {
          width: 6.375vw;
          height: 6.375vw;
          border: 0.125vw solid white;
          border-radius: 100%;
          position: relative;
          transition: transform 1s $ease-in-out-quart;

          &.spinning {
            transform: rotate(360deg)
          }

          @for $i from 1 through 50 {
            span:nth-child(#{$i}) {
              transform: (rotate(($i*14)+deg))
            }
          }
          span {
            @include sofiaProBold(0.625vw);
            text-transform: uppercase;
            position: absolute;
            height: 2.7vw;
            width: 0.156vw;
            left: 3vw;
            top: 0.35vw;
            transform-origin: bottom center;
          }
        }
      }

      .about-right {
        display: flex;
        flex-direction: column;
      }

      .social-links {
        ul {
          li {
            @include actaBook(2vw);
            line-height: 3.125vw;

            @include max(md) {
              font-size: 4.688vw;
              line-height: 6.510vw;
            }

            @include max(sm) {
              font-size: 6.400vw;
              line-height: 10.667vw;
            }
          }
        }
      }

      .content-text {
        margin-top: 6.875vw;

        @include max(md) {
          margin-top: 9.115vw;
        }

        @include max(sm) {
          margin-top: 22.5vw;
        }

        .paragraph {
          @include actaBook(2vw);
          line-height: 3.125vw;

          @include max(md) {
            font-size: 4.688vw;
            line-height: 6.510vw;
          }

          @include max(sm) {
            font-size: 6.4vw;
            line-height: 10.667vw;
          }
        }

        .two-col {
          display: flex;
          justify-content: space-between;
          margin-top: 3.75vw;

          @include max(md) {
            margin-top: 12.370vw;
          }

          @include max(sm) {
            flex-direction: column;
            margin-top: 24.533vw;
          }

          .text {
            @include sofiaProLight(1.125vw);
            width: calc(50% - 1.25vw);
            line-height: 1.875vw;

            &:last-of-type{
              @include max(sm) {
                margin-top: 9.333vw;
              }
            }

            @include max(md){
              font-size: 2.604vw;
              line-height: 3.906vw;
            }

            @include max(sm) {
              width: 100%;
              font-size: 4.8vw;
              line-height: 8vw;
            }
          }
        }
      }
    }
  }
  .about-footer {
    align-self: flex-end;
    color:white;
    margin-top: 8.75vw;
    padding-bottom: 8.125vw;

    @include max(md) {
      display: flex;
      padding: 0 6.510vw 8.464vw;
      margin-top: 11.068vw;
    }

    @include max(sm) {
      flex-direction: column;
      margin-top: 22.667vw;
      padding: 0 9.333vw 25.333vw;
    }

    .agency-representations, .credits {
      @include max(md) {
        width: 50%;
      }
      @include max(sm) {
        width: 100%;
      }
    }

    span {
      display: block;
      @include sofiaProBold(0.875vw);
      line-height: 1.3125vw;
      letter-spacing: 0.125vw;
      text-transform: uppercase;
      margin-bottom: 0.625vw;

      @include max(md) {
        font-size: 2.083vw;
        line-height: 3.125vw;
        margin-bottom: 1.953vw;
      }

      @include max(sm) {
        font-size: 4.267vw;
        line-height: 6.4vw;
        margin-bottom: 4.5vw;
      }
    }

    ul li {
      @include sofiaProLight(1.125vw);
      line-height: 1.875vw;

      @include max(md){
        font-size: 2.604vw;
        line-height: 3.906vw;
      }

      @include max(sm) {
        font-size: 4.8vw;
        line-height: 8vw;
      }
    }

    .credits {
      margin-top: 3.125vw;

      @include max(md) {
        margin-top: 0;
      }

      @include max(sm) {
        margin-top: 25.333vw;
      }
    }
  }
}
