.home {
  @include max(md) {
    padding: 0;
  }
  .page {
    &-content {
      margin-top: 12.5vw;
      padding-bottom: 6.25vw;
      transition: all 0.5s ease;

      @include max(md) {
        margin-top: 39.0625vw;
        padding-bottom: 32.552vw;
      }

      &.black {
        background:black;
      }

      .gallery-wrapper {
        display:flex;
        flex-direction: column;
        margin: auto;
        align-items: center;

        .gallery-item {
          transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
          width: 100%;
          position: relative;
          transform: translate3d(-12.5vw,0,0);

          @include max(md) {
            transform: translate3d(-7.8vw,0,0);
          }

          a {
            text-decoration: none;
          }

          &:not(:first-child) {
            margin-top: 6.875vw;

            @include max(md) {
              margin-top: 13.021vw;
            }
          }

          &:nth-child(even) {
            transform: translate3d(12.5vw,0,0);

            @include max(md) {
              transform: translate3d(3.25vw,0,0);
            }
          }

          &.portrait {
            max-width: 35vw;
            height: 43.75vw;

            @include max(md) {
              max-width: 64.063vw;
              height: 79.818vw;
            }
          }
          &.landscape {
            max-width: 35vw;

            @include max(md) {
              max-width: 64.063vw;
              max-height: 48.047vw;
            }

            .item-title {
              bottom: 0.1875vw
            }
          }

          &.full {
            transform: translate3d(0,0,0);
            margin-top: 12.1875vw;
            margin-bottom: 6.25vw;

            @include max(md) {
              margin-top: 26.042vw;
              margin-bottom: 13.021vw;
            }

            img {
              max-height: 50vw;

              @include max(md) {
                max-height: 82.031vw;
              }
            }

            .item-title {
              position: relative;
              right: 0;
              writing-mode: initial;
              text-orientation: initial;
              transform: rotate(0deg);
              justify-content: center;
              align-items: flex-end;
              margin-top: 2.125vw;

              span {
                margin-top: 0;
                margin-left: 1.25vw;
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .item-title {
            @include verticalText(180);
            display: flex;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            text-transform: uppercase;
            right: -2.25vw;
            line-height: 1.875vw;

            @include min(xxl) {
              right: -2.5vw;
            }

            @include max(md) {
              right: -6.75vw;
              line-height: 3.906vw;
            }

            h3 {
              @include sofiaProMedium(0.875vw);
              letter-spacing: 0.125vw;

              @include max(md) {
                font-size: 2.083vw;
              }
            }

            span {
              @include sofiaProLight(0.750vw);
              display: block;
              margin-top: 1.25vw;
              letter-spacing: 0.125vw;

              @include max(md) {
                font-size: 1.823vw;
              }
            }
          }
        }

        &.drag-mode {
          .gallery-item {
            transform: translate3d(0,0,0);

            &:nth-child(even) {
              transform: translate3d(0,0,0);
            }
            &:not(:first-child) {
              margin-top:0;
            }
            &.full {
              width: calc(50% - 5vw);
              .item-title{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
