.home {
  @include max(md) {
    padding: 0;
  }
  .page {
    &-content {
      padding-bottom: 6.25vw;
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      transition: opacity 500ms ease 300ms, transform 500ms $ease-in-out-quad 300ms;

      .loaded & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      @include max(md) {
        margin-top: 0;
        padding-bottom: 32.552vw;
      }

      @include max(sm) {
        padding-bottom: 0;
      }

      &.black {
        background:black;
      }
    }
  }
}
