.home {
  @include max(md) {
    padding: 0;
  }
  .page {
    &-content {
      margin-top: 12.5vw;
      padding-bottom: 6.25vw;
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      transition: opacity 500ms ease;

      .loaded & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      @include max(md) {
        margin-top: 0;
        padding-bottom: 32.552vw;
      }

      &.black {
        background:black;
      }
    }
  }
}
