.serie {
  @include max(md) {
    padding: 0 6.5vw;
  }

  @include max(sm) {
    padding: 0;
  }

  .serie-page-header {
    display: flex;
    justify-content: space-between;

    @include max(md) {
      flex-direction: column;
    }

    .featured-image {
      width: 40%;
      height: 100vh;
      transform: translate3d(-8vw, 0, 0);

      @include max(md) {
        width: 100%;
        transform: translate3d(0, 0, 0);
        height: 89.323vw;
      }

      @include max(sm) {
        height: 125.333vw;
      }

      img {
        width:100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .serie-hero {
      display: flex;
      flex-direction: column;
      width: calc(60% - 2vw);
      padding-top: 6.5vw;
      position: relative;

      @include max(md) {
        padding-top: 0;
        margin-top: 12.021vw;
        width: 100%;
      }

      @include max(sm) {
        padding: 0 9.333vw;
      }

      .row {
        z-index: 2;
      }

      .back-link {
        display: flex;
        align-items: center;

        @include max(md) {
          display: none;
        }

        a {
          text-decoration: none;
          text-transform: uppercase;

          img {
            top: 0.125vw;
            position: relative;
            width: 1.2vw;
            margin-right: 1.250vw;
          }
          span {
            @include sofiaProMedium(0.875vw);
            line-height: 1.875vw;
            letter-spacing: 0.125vw;
          }
        }
      }

      .serie-title {
        flex-direction: column;
        max-width: 36vw;
        margin-top: 3.25vw;

        @include max(md) {
          margin-top: 0;
          max-width: none;
        }

        .title {
          @include actaDisplayLight(5.625vw);

          @include max(md) {
            font-size: 10.417vw;
          }

          @include max(sm) {
            font-size: 13.333vw;
          }

          h3{
            line-height: 6.250vw;

            @include max(md) {
              line-height: 11.719vw;
            }

            @include max(sm) {
              line-height: 16vw;
            }
          }
        }

        .date {
          @include sofiaProMedium(0.875vw);
          margin-top: 0.5vw;
          letter-spacing: 0.125vw;
          line-height: 1.875vw;

          @include max(md) {
            font-size: 2.083vw;
            margin-top: 2.25vw;
          }

          @include max(sm) {
            font-size: 3.733vw;
          }

          .copyright {
            @include sofiaProBold(1.25vw);
            position: relative;
            top: 0.125vw;
            padding-right: 0.625vw;

            @include max(md) {
              font-size: 2.604vw;
            }

            @include max(sm) {
              font-size: 5.333vw;
            }
          }
        }
      }

      .serie-infos {
        display: flex;
        justify-content: space-between;
        padding-right: 3.75vw;
        margin-top: 6.5vw;
        z-index: 2;

        @include max(md) {
          margin-top: 11vw;
        }

        @include max(sm) {
          margin-top: 24vw;
          padding: 0;
        }

        &-column {

          &.description {
            flex-basis: 61.5%;

            @include max(sm) {
              flex-basis: 100%;
            }
          }

          p {
            @include sofiaProLight(1.125vw);
            line-height: 1.875vw;

            @include max(md) {
              font-size: 2.604vw;
              line-height: 3.906vw;
            }

            @include max(sm) {
              font-size: 4.8vw;
              line-height: 8vw;
            }
          }

          span {
            display: block;
            @include sofiaProBold(0.875vw);
            line-height: 1.3125vw;
            letter-spacing: 0.125vw;
            text-transform: uppercase;
            margin-bottom: 0.45vw;

            @include max(md) {
              margin-bottom: 1.55vw;
              font-size: 2.083vw;
              line-height: 3.125vw;
            }

            @include max(sm) {
              font-size: 4.267vw;
              line-height: 6.4vw;
              margin-bottom: 4vw;
            }
          }
        }
      }
      .chevron {
        cursor: pointer;
        position: absolute;
        bottom: 1.563vw;

        @include max(md) {
          display: none;
        }

        img {
          width: 0.875vw;
        }
      }
    }
  }

  .serie-gallery {
    margin-top: 13.438vw;
    margin-bottom: 12.5vw;
    max-width: 72.5vw;

    @include max(md) {
      margin-top: 25.5vw;
      max-width: none;
    }

    @include max(sm) {
      margin-top: 50.667vw;
    }

    .gallery-item {
      display: flex;

      &:not(:first-child) {
        margin-top: 9.375vw;

        @include max(md) {
          margin-top: 19.531vw;
        }

        @include max(sm) {
          margin-top: 26.667vw;
        }
      }

      &:nth-child(even):not(.duo){
        &.portrait {
          margin-left: 22.500vw;
          margin-right: auto;
          @include max(md) {
            margin-left: 22.786vw;
          }
          @include max(sm) {
            margin-left: 18.667vw;
          }
        }
        &.landscape {
          margin-left: 7.500vw;
          margin-right: auto;
        }
      }

      &.portrait {
        max-width: 42.5vw;

        @include max(md) {
          max-width: 64.193vw;
        }

        @include max(sm) {
          max-width: 81.333vw;
        }
      }

      &.landscape {
        max-width: 57.5vw;

        @include max(md) {
          max-width: 64.193vw;
        }

        @include max(sm) {
          max-width: 81.333vw;
        }
      }

      &.duo {
        display: flex;

        img {
          max-width: 35vw;
          object-fit: cover;

          @include max(md) {
            max-width: 41.146vw;
          }

          @include max(sm) {
            max-width: calc(50% - 2vw);
          }
        }

        img:last-child {
          margin-left: 2.5vw;

          @include max(md) {
            margin-left: 4.297vw
          }

          @include max(sm) {
            margin-left: 4vw;
          }
        }
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
  .serie-credits-wrapper {
    margin: 12.5vw 0;

    @include max(md) {
      margin: 26.042vw 0;
    }

    @include max(sm) {
      padding: 0 9.333vw;
    }

    .serie-credits {
      span {
        @include sofiaProBold(0.875vw);
        display: block;
        line-height: 1.3125vw;
        letter-spacing: 0.125vw;
        text-transform: uppercase;
        margin-bottom: 0.45vw;

        @include max(md) {
          margin-bottom: 1.55vw;
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          margin-bottom: 4vw;
          font-size: 4.267vw;
          line-height: 6.4vw;
        }
      }

      ul {
        li {
          @include sofiaProLight(1.125vw);
          line-height: 1.875vw;

          @include max(md) {
            font-size: 2.604vw;
            line-height: 3.906vw;
          }

          @include max(sm) {
            font-size: 4.8vw;
            line-height: 8vw;
          }
        }
      }
    }
  }
  .serie-footer {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    @include verticalText(360);

    span {
      @include sofiaProLight(0.750vw);
      text-transform: uppercase;
      line-height: 0.875vw;
      letter-spacing: 0.125vw;
      display: block;

      @include max(md) {
        font-size: 1.823vw;
      }

      @include max(sm) {
        font-size: 3.733vw;
      }
    }

    .line {
      margin-top: 2vw;
      transform: rotate(180deg);
      height:8.125vw;
      border: 0.063vw solid black;
      opacity: 0.1;

      @include max(md) {
        border-left: 0.130vw solid black;
        height: 17.25vw;
        margin-top: 2.604vw;
      }

      @include max(sm) {
        border: 0.130vw solid black;
        margin-top: 5.333vw;
        height: 45vw;
      }
    }
  }
}

.serie-slider-wrapper {
  background: #121212;
  padding-top: 11.875vw;
  overflow: hidden;
  position: relative;

  @include max(md) {
    padding-top: 26.042vw;
  }

  @include max(sm) {
    padding-top: 25vw;
  }

  .line {
    position: absolute;
    display: inline-block;
    left:0;
    top: 0;
    right: 0;
    margin: auto;
    height: calc(100% - 30vw);
    width: 0.130vw;
    border-left: 0.063vw solid white;
    opacity: 0.1;

    @include max(md) {
      width: 0.130vw;
      height: calc(100% - 24.740vw);
      border-left: 0.130vw solid white;
    }
  }

  .serie-slider-title {
    @include actaDisplayLight(5.625vw);
    line-height: 6.250vw;
    text-align: center;
    color:white;

    @include max(md) {
      font-size: 10.417vw;
      line-height: 11.719vw;
    }

    @include max(sm) {
      font-size: 13.333vw;
      line-height: 16vw;
    }
  }

  .serie-slider {
    transform: translate3d(40vw, -2.25vw, 0);
    display: inline-flex;
    overflow: hidden;
    margin-bottom: 8.125vw;

    @include max(md) {
      margin-top: 3.25vw;
      margin-bottom: 27.995vw;
      transform: translate3d(28vw, 0, 0);
    }

    @include max(sm) {
      margin-top: 16vw;
      transform: translate3d(9.333vw, 0, 0);
    }

    .slider-item {
      width: 20vw;
      height: 25vw;

      @include max(md) {
        width: 41.406vw;
        height: 51.563vw;
      }

      @include max(sm) {
        width: 60vw;
        height: 74.667vw;
      }

      &:not(:first-child){
        margin-left: 2.5vw;

        @include max(md) {
          margin-left: 3.906vw;
        }

        @include max(sm) {
          font-size: 4vw;
        }
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .slider-controls {
    padding: 0 8vw 5vw;

    .upper {
      display: flex;
      justify-content: space-between;
      color: white;

      @include max(sm) {
        justify-content: center;
      }

      .play {
        transform: rotate(-90deg);

        @include max(sm) {
          display: none;
        }
      }

      .title {
        @include sofiaProBold(0.875vw);
        letter-spacing: 0.125vw;
        line-height: 1.313vw;
        text-transform: uppercase;

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          font-size: 4.267vw;
          line-height: 6.4vw;
        }
      }

      .index {
        @include sofiaProMedium(0.875vw);
        line-height: 1.875vw;

        @include max(md) {
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          display: none;
        }
      }
    }
    .bottom {
      height: 0.063vw;
      background: #2A2A2A;
      margin-top: 1vw;

      @include max(md) {
        height: 0.130vw;
        margin-top: 2.604vw;
      }

      @include max(sm) {
        margin-top: 8vw;
      }
    }
  }
}
