.serie {
  .serie-page-header {
    display: flex;
    justify-content: space-between;
    transform: translate3d(0, 100px, 0);
    opacity: 0;
    transition:  opacity 800ms ease 600ms, transform 1200ms $ease-in-out-quad;

    .loaded & {
      opacity: 1;
      transform: translate3d(0, 0, 0)
    }

    @include max(md) {
      flex-direction: column;
    }

    .featured-image {
      width: 40%;
      height: 100vh;
      transform: translate3d(-8vw, 0, 0);

      @include max(md) {
        width: 100%;
        transform: translate3d(0, 0, 0);
        height: 89.323vw;
      }

      @include max(sm) {
        height: 125.333vw;
      }

      img {
        width:100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .serie-hero {
      display: flex;
      flex-direction: column;
      width: calc(60% - 2vw);
      padding-top: 6.5vw;
      position: relative;

      @include max(md) {
        padding-top: 0;
        margin-top: 12.021vw;
        width: 100%;
      }

      @include max(sm) {
        padding: 0 9.333vw;
      }

      .row {
        z-index: 5;
      }

      .back-link {
        display: flex;
        align-items: center;

        @include max(md) {
          display: none;
        }

        a {
          text-decoration: none;
          text-transform: uppercase;

          img {
            top: 0.125vw;
            position: relative;
            width: 1.2vw;
            margin-right: 1.250vw;
          }
          span {
            @include sofiaProMedium(0.875vw);
            line-height: 1.875vw;
            letter-spacing: 0.125vw;
          }
        }
      }

      .serie-title {
        flex-direction: column;
        max-width: 43vw;
        margin-top: 3.25vw;

        @include max(md) {
          margin-top: 0;
          max-width: none;
        }

        .title {
          @include actaDisplayLight(5.625vw);

          @include max(md) {
            font-size: 10.417vw;
          }

          @include max(sm) {
            font-size: 13.333vw;
          }

          h3{
            line-height: 6.250vw;
            transition: transform 1000ms ease-in-out 200ms;
            transform: translate3d(0, 100px, 0) skewY(10deg);

            .loaded & {
              transform: translate3d(0, 0, 0) skewY(0);
            }

            @include max(md) {
              line-height: 11.719vw;
            }

            @include max(sm) {
              line-height: 16vw;
            }
          }
        }

        .date {
          @include sofiaProMedium(0.875vw);
          margin-top: 0.5vw;
          letter-spacing: 0.125vw;
          line-height: 1.875vw;

          @include max(md) {
            font-size: 2.083vw;
            margin-top: 2.25vw;
          }

          @include max(sm) {
            font-size: 3.733vw;
          }

          .copyright {
            @include sofiaProBold(1.25vw);
            position: relative;
            top: 0.125vw;
            padding-right: 0.625vw;

            @include max(md) {
              font-size: 2.604vw;
            }

            @include max(sm) {
              font-size: 5.333vw;
            }
          }
        }
      }

      .serie-infos {
        display: flex;
        justify-content: space-between;
        padding-right: 3.75vw;
        margin-top: 6.25vw;
        z-index: 2;
        width: 100%;

        @include min(xxl) {
          bottom: 5vw;
        }

        @include max(md) {
          bottom: 0;
          position: relative;
          margin-top: 11vw;
        }

        @include max(sm) {
          margin-top: 24vw;
          padding: 0;
        }

        &-column {

          &.description {
            flex-basis: 50%;

            @include max(sm) {
              flex-basis: 100%;
            }
          }

          p {
            @include sofiaProLight(1.125vw);
            line-height: 1.875vw;

            @include max(md) {
              font-size: 2.604vw;
              line-height: 3.906vw;
            }

            @include max(sm) {
              font-size: 4.8vw;
              line-height: 8vw;
            }
          }

          span {
            display: block;
            @include sofiaProBold(0.875vw);
            line-height: 1.3125vw;
            letter-spacing: 0.125vw;
            text-transform: uppercase;
            margin-bottom: 0.45vw;

            @include max(md) {
              margin-bottom: 1.55vw;
              font-size: 2.083vw;
              line-height: 3.125vw;
            }

            @include max(sm) {
              font-size: 4.267vw;
              line-height: 6.4vw;
              margin-bottom: 4vw;
            }
          }
        }
      }
      .chevron {
        cursor: pointer;
        position: absolute;
        bottom: 1.563vw;

        @include max(md) {
          display: none;
        }

        img {
          width: 0.875vw;
        }
      }
    }
  }

  .serie-gallery {
    margin-top: 13.438vw;
    margin-bottom: 12.5vw;
    max-width: 72.5vw;
    position: relative;

    @include max(md) {
      margin-top: 25.5vw;
      max-width: none;
    }

    @include max(sm) {
      margin-top: 50.667vw;
    }

    .gallery-item {
      display: flex;

      .relative-container {
        position: relative;
        width: 100%;

        &.duo {
          text-align: right;
        }
      }

      &:not(:first-child) {
        margin-top: 9.375vw;

        @include max(md) {
          margin-top: 19.531vw;
        }

        @include max(sm) {
          margin-top: 26.667vw;
        }
      }

      &:nth-child(even):not(.duo){
        &.portrait {
          margin-left: 22.500vw;
          margin-right: auto;
          @include max(md) {
            margin-left: 22.786vw;
          }
          @include max(sm) {
            margin-left: 18.667vw;
          }
        }
        &.landscape {
          margin-left: 7.500vw;
          margin-right: auto;
        }
      }

      &.portrait {
        max-width: 42.5vw;
        height: 53.125vw;

        @include max(md) {
          max-width: 64.193vw;
          height: 79.688vw;
        }

        @include max(sm) {
          max-width: 81.333vw;
          height: 101.333vw;
        }
      }

      &.landscape {
        max-width: 57.5vw;
        height: 43.125vw;

        @include max(md) {
          max-width: 64.193vw;
          height: 48.307vw;
        }

        @include max(sm) {
          max-width: 81.333vw;
          height: 61.333vw;
        }
      }

      &.duo {
        display: flex;
        justify-content: space-between;
        height: 43.750vw;

        @include max(md) {
          height: 51.172vw;
        }

        @include max(sm) {
          height: 60vw;
        }

        img {
          max-width: 35vw;

          @include max(md) {
            max-width: 41.146vw;
          }

          @include max(sm) {
            max-width: calc(50% - 2vw);
          }
        }

        img:last-child {
          margin-left: 2.5vw;

          @include max(md) {
            margin-left: 4.297vw
          }

          @include max(sm) {
            margin-left: 4vw;
          }
        }
      }

      .placeholder {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #f3efec;
        opacity: 1;
        transition: opacity 800ms ease;
      }


      img[lazy="loaded"] ~ .placeholder {
        opacity: 0;
      }

      img {
        object-fit: cover;
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }
  }
  .serie-credits-wrapper {
    margin: 12.5vw 0;

    @include max(md) {
      margin: 26.042vw 0;
    }

    @include max(sm) {
      padding: 0 9.333vw;
    }

    .serie-credits {
      span {
        @include sofiaProBold(0.875vw);
        display: block;
        line-height: 1.3125vw;
        letter-spacing: 0.125vw;
        text-transform: uppercase;
        margin-bottom: 0.45vw;

        @include max(md) {
          margin-bottom: 1.55vw;
          font-size: 2.083vw;
          line-height: 3.125vw;
        }

        @include max(sm) {
          margin-bottom: 4vw;
          font-size: 4.267vw;
          line-height: 6.4vw;
        }
      }

      ul {
        li {
          @include sofiaProLight(1.125vw);
          line-height: 1.875vw;

          @include max(md) {
            font-size: 2.604vw;
            line-height: 3.906vw;
          }

          @include max(sm) {
            font-size: 4.8vw;
            line-height: 8vw;
          }
        }
      }
    }
  }
  .serie-footer {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    transition: color 1000ms ease;
    @include verticalText(360);

    &.white {
      color:white;

      .line {
        border-color:white;
      }
    }

    span {
      @include sofiaProLight(0.750vw);
      text-transform: uppercase;
      line-height: 0.875vw;
      letter-spacing: 0.125vw;
      display: block;

      @include max(md) {
        font-size: 1.823vw;
      }

      @include max(sm) {
        font-size: 3.733vw;
      }
    }

    .line {
      margin-top: 2vw;
      transform: rotate(180deg);
      height:8.125vw;
      border-left: 1px solid black;
      opacity: 0.1;

      @include max(md) {
        height: 17.25vw;
        margin-top: 2.604vw;
      }

      @include max(sm) {
        margin-top: 5.333vw;
        height: 45vw;
      }
    }
  }
}
